.collections {
	padding-top: 44px;
	.wrapper {
		padding: 0 50px 0 64px;
		@media only screen and (max-width: $between) {
			padding: 0 50px;
		}
		@media only screen and (max-width: $sm) {
			padding: 0 20px;
		}
	}
}

.collections__search {
	display: flex;
	align-items: center;
	@media only screen and (max-width: $sm) {
		flex-direction: column;
	}
}

.collection__search-input {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	@media (max-width: 1400px) and (min-width: 1025px) {
		width: 90%;
	}
	@media only screen and (max-width: $md) {
		width: 100%;
	}
} 
.collections__search-input {
	@media only screen and (max-width: $between) {
		width: 100%;
	}
} 

.collections__search-number {
	border: 1px solid $orange;
	padding: 5px;
	&:hover {
		background-color: $orange;
		color: $white;
	}
}

.collections__container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}
.collections__container-box{
	height: 450px;
	width: 17%;
	background-color: pink;
	margin: 0 30px 100px 0;
	@include border-radius(10px);
	@media only screen and (max-width: $md-large) {
		width: 48%;
		margin-right: 10px;
	}
	@media only screen and (max-width: $sm) {
		width: 100%;
		margin-right: 0;
	}
}

.collections__container-bg {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}

.collections__group {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	position: relative;
	&-item {
		margin-bottom: 30px;
		width: 17%;
		&:not(:last-child) {
			margin-right: 25px;	
			@media only screen and (max-width: $sm) {
				margin-right: 10px;
			}
		}
		@media (max-width: 1899px) and (min-width: 1400px) {
			width: 22%;
		}
		@media only screen and (max-width: $between) {
			width: 29%;
		}
		@media only screen and (max-width: 666px) {
			width: 64%;
		}
		@media only screen and (max-width: $sm) {
			width: 100%;
			margin-right: 10px;
		}
	}
	&-img {
		@include border-radius(10px);
		background-size: cover;
		background-repeat: no-repeat;
		padding: 216px 0 0 20px;
		margin-bottom: 10px;
		height: 450px;
		background-repeat: no-repeat;
		&:hover {
			position: relative;
			transition: all 5s ease-out;
			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background-color: rgba($brown, .5);
				@include border-radius(10px);
			}
			.collection-link {
				visibility: visible;
			}
		}

	}
}
.collections__group-title {
	font-size: 14px;
	color: $brown;
	line-height: 20px;
	font-weight: bold;
	margin-bottom: 10px;
	@media only screen and (max-width: $sm) {
		margin: 0;
		text-align: left;
	}
}

.collections__group-price {
	font-size: 14px;
	color: $orange;
	line-height: 20px;
	font-weight: bold;
}

.collection-link {
	visibility: hidden;
}

.collections__color-square {
	display: inline-block;
	height: 13px;
	width: 13px;
	background-color: #F5F5DC;
	@include border-radius(2px);
	margin-bottom: 10px;
	&:nth-child(3) {
		background-color: #72CEDC;
	}
	&:last-of-type {
		background-color: #E1D58B;	
	}
}



