@font-face {
    font-family: 'Courgette';
    src: url('Courgette-Regular.woff2') format('woff2'),
        url('Courgette-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

